{
	"env":
	{
		"browser": true,
		"node": false
	},
	"globals": {
		"Ext": true,
		"OregonsCatch": true
	},
	"plugins": [],
	"rules":
	{
		"semi": [1, "always"],
		"comma-dangle": [1, "never"],
		"no-undef": 2
	}
}
