### External Dependencies ###
node_modules/*
bootstrap.*

### Compiled Files ###
build/*
docs/build/*
resources/sass/.sass-cache/*
resources/css/*
.sencha_backup

# Preserve phonegap's config.xml file
phonegap/*
!phonegap/config.xml


### temp and log Files ###
**/*.temp*
**/*.log
**/*-log*