### External Dependencies ###
node_modules/*
bootstrap.*

### Compiled Files ###
build/*
docs/build/*
resources/sass/.sass-cache/*
resources/css/*

# Preserve phonegap's config.xml file
phonegap/*
!phonegap/www
phonegap/www/*
!phonegap/www/config.xml

### temp and log Files ###
**/*.temp*
**/*.log
**/*-log*