// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

div.vendnum{
        text-align: center;
        min-height: 50px;      
};  

//LIST PAGE ELEMENTS ^^^^^^^^^^^^^

#ListMap{
	height: 50%;
}

#ListPageList{
	height: 50%;
	top: 50%;
}

//DETAIL PAGE ELEMENTS ^^^^^^^^^^^

#Details{
	height: 47%;
}

#InfoBlock{
	margin-top: 6px;
	margin-left: 6px;
}

#StaticMap{
//	left: 50%;
//	top: 2.5%;
//	height: 45%;
//	width: 45%;
	height: 200px;
	margin-top: 6px;
	margin-bottom: 6px;
}

#DetailList{
	height: 50%;
	top: 50%;
}

//PRODUCTDETAIL PAGE ELEMENTS ^^^^
	
#ProductDetailList{
	height: 50%;
	top: 50%;
}

//INFO PAGE ELEMENTS ^^^^^^^^^^^^^

#InfoImage{
	height: 20%;
	width: 100%;
	min-width: 320px;
}

#InfoList{
	max-height: 50%;
	top: 50%;
}	

#InfoButton{
	top: 40%;
	width: 50px;
	height: 10%;
}

div.history{
	margin-top: 20%;
}

// Text styling ^^^^^^^^^^^^^^^^^^

div.gm-style-iw{
	min-height: 20px;
	padding: 2px;
}

// Examples of using the icon mixin:
// @include icon('user');
